.heading {
  font-size: 1.1em;
  margin-bottom: 1em;
}

.TableOfContent {
  position: sticky;
  height: fit-content;
  text-wrap: nowrap;
  gap: 0.8em;
  max-width: 21em;
  color: #bcbcbc;
  font-size: 0.8em;

  li {
    font-weight: bolder;
    padding: 0.5em;
  }

  li[data-current='true'] {
    color: var(--accent-color);
  }

  a {
    display: inline-block;
    width: 100%;
  }
}
