---
import type { GetStaticPaths } from 'astro'
import { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import CloudinaryImage from '~/components/CloudinaryImage.astro'
import Document from '~/layout/Document.astro'
import * as R from 'remeda'

interface Props {
  entry: CollectionEntry<'chronicles'>
}

export const getStaticPaths: GetStaticPaths = async () =>
  R.pipe(
    await getCollection('chronicles'),
    R.map(entry => ({ params: { slug: entry.slug }, props: { entry } }))
  )

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Document title={entry.data.title} description={entry.data.title}>
  <div class="container">
    <Content components={{ img: CloudinaryImage }} />
  </div>
</Document>

<style>
  .container {
    max-width: 42em;
    margin: auto;
  }
</style>
