@import url(./theme.css);

@font-face {
  font-family: Geist;
  font-display: swap;
  src: local('Geist'), url('/patchouli/fonts/GeistVF.woff2');
}

:root {
  --page-width: 60em;

  font-size: 100%;
  font-synthesis: none;
  font-weight: 400;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Geist;
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

ul {
  list-style: none;
}
