.markdown-style {
  h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
  }

  :is(h2, h3, h4, h5, h6) {
    padding: 1em 0 0.5em;
  }

  p {
    margin-bottom: 1em;
  }

  pre {
    padding: 1em;
    margin-top: 1em;
  }

  ul {
    list-style-position: inside;
  }

  blockquote {
    margin: 1rem 0;
    padding: 0.2em 1rem;
    border-left: 0.25em solid var(--accent-color);

    hr {
      margin: 0.9em 0;
      border: 2px #f7ecfc inset;
      border-style: inset none none none;
    }
  }

  :not(pre) > code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--accent-color);
    border-radius: 6px;
  }

  a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
    position: relative;
    font-weight: 600;
    color: var(--accent-color);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      height: 0%;
      background-color: var(--accent-color);
      transition: 150ms cubic-bezier(0, 0, 0.2, 1);
    }

    &:hover {
      color: white;
    }

    &:hover::after {
      top: 0%;
      height: 100%;
      z-index: -1;
    }
  }
}
