---
import { getCollection } from 'astro:content'
import BaseLayout from '~/layouts/BaseLayout.astro'
import Image from '~/components/CloudinaryImage.astro'

const collection = await getCollection('chronicles')
const latestChronicles = collection
  .sort(
    (prev, self) => prev.data.pubDate.getTime() - self.data.pubDate.getTime()
  )
  .slice(-4)
  .reverse()
---

<BaseLayout>
  <main class="home-page-container">
    <section class="sect-layout">
      <Image src="home_picture" alt="Doki Doki" height={250} width={300} />

      <div>
        <h1>Those Who Dwell in Shadows</h1>

        <p>
          "The shrine isn't a good place for using magic. It needs someplace
          more ominous."
        </p>

        <p>
          My experience across a broad range of technologies, but I'm focusing
          on <b>ReactJs</b> and <b>SolidJS</b>.
        </p>
      </div>
    </section>

    <section>
      <h1>Latest Chronicles</h1>

      <ul class="sect-layout">
        {
          latestChronicles.map(({ slug, data }) => (
            <li>
              <a href={`${import.meta.env.BASE_URL}/chronicles/${slug}`}>
                <article>
                  <h2>{data.title}</h2>
                  <div>{data.description}</div>
                </article>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  .home-page-container {
    container-type: inline-size;

    h1 {
      font-size: 2em;
      margin-bottom: 1.2rem;
    }

    h2 {
      font-size: 1.4em;
      margin-bottom: 0.5em;
    }

    p {
      margin-bottom: 1em;
    }
  }

  .sect-layout {
    display: grid;
    gap: 4em;
    padding-bottom: 8em;

    @container (width > 40em) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
    }
  }
</style>
