---
import DocumentHead from '~/components/DocumentHead.astro'
import Header from '~/components/Header.astro'
import AccentColor from '~/components/AccentColor/AccentColor.tsx'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <DocumentHead {title} {description}>
    <style>
      .page-container {
        padding-left: 1em;
        padding-right: 1em;
        margin: auto;
        max-width: var(--page-width);
        container-name: page-container;
        container-type: inline-size;
      }
    </style>
  </DocumentHead>

  <body>
    <Header routes={['about', 'chronicles']} />
    <div class="page-container">
      <AccentColor client:idle />
      <slot />
    </div>
  </body>
</html>
