---
import Document from './Document.astro'
import ContentWrapper from '~/components/ContentWrapper.astro'
import Header from '~/components/Header.astro'
---

<Document>
  <Header
    links={[
      { text: 'About', href: 'about' },
      { text: 'Blog', href: 'chronicles' }
    ]}
  />
  <div class="layout-container">
    <ContentWrapper><slot /></ContentWrapper>
  </div>
</Document>

<style>
  .layout-container {
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    max-width: 42em;
  }
</style>
