---
import { ViewTransitions } from 'astro:transitions'
import '~/styles/global.css'

export interface Props {
  title?: string
  description?: string
}

const { title = 'patchouli', description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="title" content={title} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body><slot /></body>
</html>
