---
import { MarkdownLayoutProps } from 'astro'
import BaseLayout from './BaseLayout.astro'
import MarkdownContent from '~/components/MarkdownContent.astro'

type Props = MarkdownLayoutProps<{
  title: string
  cols?: number
  rows?: number
}>

const { title, cols = 1, rows = 1 } = Astro.props.frontmatter
---

<BaseLayout>
  <MarkdownContent>
    <main class="layout-container">
      <h1>{title}</h1>
      <div class="layout"><slot /></div>
    </main>
  </MarkdownContent>
</BaseLayout>

<style define:vars={{ cols, rows }}>
  .layout-container {
    container-name: grid-container;
    container-type: inline-size;
  }

  .layout {
    display: grid;
    max-width: 100%;

    @container (min-width: 50em) {
      grid-template-columns: repeat(var(--cols), 1fr);
      grid-template-rows: repeat(var(--rows), 1fr);
      gap: 5em;
    }
  }
</style>
