---
import { MarkdownLayoutProps } from 'astro'
import BaseLayout from './BaseLayout.astro'
import ContentWrapper from '~/components/MarkdownContent.astro'

type Props = MarkdownLayoutProps<{
  title: string
  cols?: number
  rows?: number
}>

const { title, cols = 1, rows = 1 } = Astro.props.frontmatter
---

<BaseLayout>
  <ContentWrapper>
    <main class="grid-container">
      <div class="content">
        <h1>{title}</h1>
        <div class="grid"><slot /></div>
      </div>
    </main>
  </ContentWrapper>
</BaseLayout>

<style define:vars={{ cols, rows }}>
  .grid-container {
    container-name: grid-container;
    container-type: inline-size;
  }

  .content {
    margin: auto;
    max-width: 42em;
  }

  @container (min-width: 50em) {
    .grid {
      display: grid;
      max-width: 100%;
      grid-template-columns: repeat(var(--cols), 1fr);
      grid-template-rows: repeat(var(--rows), 1fr);
      gap: 5em;
    }

    .content {
      max-width: 100%;
    }
  }
</style>
